<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {{ translate.careers-page.perl-developer.title }}</a>
    </div>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <p>{{ translate.careers-page.perl-developer.text }}
      </p>
      <p class="title">{{ translate.careers-page.perl-developer.ideal-candidate.title }}</p>
      <p>{{ translate.careers-page.perl-developer.ideal-candidate.text-1 }}</p>
      <p>{{ translate.careers-page.perl-developer.ideal-candidate.text-2 }}</p>
      <p>{{ translate.careers-page.perl-developer.ideal-candidate.text-3 }}</p>
      <p>{{ translate.careers-page.perl-developer.ideal-candidate.text-4 }}</p>
      <p>{{ translate.careers-page.perl-developer.looking-for.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.perl-developer.looking-for.test-and-fix }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.optimise }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.do-great-work }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.work-in-environment }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.get-things-done }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.work-without-hierarchy }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.have-latest-tools }}</li>
        <li>{{ translate.careers-page.perl-developer.looking-for.learn }}</li>
      </ul>
      </p>
      <p>{{ translate.careers-page.perl-developer.to-excel.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.perl-developer.to-excel.perl-expertise }}</li>
        <li>{{ translate.careers-page.perl-developer.to-excel.linux-expertise }}
        </li>
        <li>{{ translate.careers-page.perl-developer.to-excel.database-expertise }}</li>
        <li>{{ translate.careers-page.perl-developer.to-excel.familiarity-with }}</li>
        <li>{{ translate.careers-page.perl-developer.to-excel.ability }}</li>
        <li>{{ translate.careers-page.perl-developer.to-excel.event-driven }}</li>
        <li>{{ translate.careers-page.perl-developer.to-excel.passion-for-open-source }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.perl-developer.role.title }}</p>
      <p>{{ translate.careers-page.perl-developer.role.text }}
      <ul class="dashed">
        <li>{{ translate.careers-page.perl-developer.role.develop-and-maintain }}</li>
        <li>{{ translate.careers-page.perl-developer.role.build-optimise }}</li>
        <li>{{ translate.careers-page.perl-developer.role.team-work }}</li>
        <li>{{ translate.careers-page.perl-developer.role.debug }}</li>
        <li>{{ translate.careers-page.perl-developer.role.participate }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.perl-developer.benefits.title }}</p>
      <p>{{ translate.careers-page.perl-developer.benefits.text }}</p>
      <p class="title">{{ translate.careers-page.perl-developer.location.title }}</p>
      <p>{{ translate.careers-page.perl-developer.location.text }}</p>
      <p>{{ translate.careers-page.perl-developer.apply }}/a></p>
    </div>
  </div>
</div>