<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <div class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        {% translate careers-page.front-end.title %}
</a>
    </div>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <p>{% translate careers-page.front-end.text %}</p>
      <p class="title">{% translate careers-page.front-end.ideal-candidate.title %}</p>
      <p>{% translate careers-page.front-end.ideal-candidate.text-1 %}
      </p>
      <p>{% translate careers-page.front-end.ideal-candidate.text-2 %}
      </p>
      <p>{% translate careers-page.front-end.ideal-candidate.text-3 %}
      </p>
      <p>{% translate careers-page.front-end.ideal-candidate.text-4 %}
      </p>
      <p>{% translate careers-page.front-end.looking-for.title %}
        <ul class="dashed">
          <li>{% translate careers-page.front-end.looking-for.solve-problems %}</li>
          <li>{% translate careers-page.front-end.looking-for.keep-up %}</li>
          <li>{% translate careers-page.front-end.looking-for.do-great-work %}</li>
          <li>{% translate careers-page.front-end.looking-for.work-in-environment %}</li>
          <li>{% translate careers-page.front-end.looking-for.get-things-done %}</li>
          <li>{% translate careers-page.front-end.looking-for.work-without-hierarchy %}</li>
          <li>{% translate careers-page.front-end.looking-for.have-latest-tools %}</li>
          <li>{% translate careers-page.front-end.looking-for.learn %}</li>
        </ul>
      </p>

      <p>{% translate careers-page.front-end.to-excel.title %}
        <ul class="dashed">
          <li>{% translate careers-page.front-end.to-excel.knowledge %}</li>
          <li>{% translate careers-page.front-end.to-excel.ability %}</li>
          <li>{% translate careers-page.front-end.to-excel.experience %}</li>
          <li>{% translate careers-page.front-end.to-excel.familiarity-with-js-frameworks %}r</li>
          <li>{% translate careers-page.front-end.to-excel.experience-with-package-manager %}</li>
          <li>{% translate careers-page.front-end.to-excel.test-and-debug %}</li>
          <li>{% translate careers-page.front-end.to-excel.passion-for-open-source %}</li>
        </ul>
      </p>
      <p class="title">{% translate careers-page.front-end.role.title %}</p>
      <p>{% translate careers-page.front-end.role.text %}
        <ul class="dashed">
          <li>{% translate careers-page.front-end.role.develop-and-maintain %}</li>
          <li>{% translate careers-page.front-end.role.test-and-debug %}
          </li>
          <li>{% translate careers-page.front-end.role.stay-on-top %}</li>

        </ul>
      </p>
      <p class="title">{% translate careers-page.front-end.benefits.title %}</p>
      <p>{% translate careers-page.front-end.benefits.text %}</p>
      <p class="title">{% translate careers-page.front-end.location.title %}</p>
      <p>{% translate careers-page.front-end.location.text %}</p>
      <p>{% translate careers-page.front-end.apply %} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>
