<section class="mt-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-5">
        <h2 class="careers-content-title text-center">
          {{ translate.career-page.graphic-design-page.title }}
        </h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
        <h4 class="medium">
          {{ translate.career-page.graphic-design-page.ideal-candidate.title }}
        </h4>
        <ul class="para-list">
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.ideal-candidate.text-1 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.ideal-candidate.text-2 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.ideal-candidate.text-3 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.ideal-candidate.text-4 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.ideal-candidate.text-5 }}
          </li>
        </ul>
      </div>
      <div class="col-md-4 vertical-align">
        <img src={{"/img/img-graphic-desinger.png" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-padding bg-white section-excel-in-role">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            <h4 class="medium">
              {{ translate.career-page.graphic-design-page.excel-in-role.title }}
            </h4>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col careers-tabs">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item"><a class="nav-link active" href="#graphic-design-page-skills" data-toggle="tab">
                {{ translate.career-page.graphic-design-page.excel-in-role.skills.title }}
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#graphic-design-page-degree" data-toggle="tab">
                {{ translate.career-page.graphic-design-page.excel-in-role.degree.title }}
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#graphic-design-page-experience" data-toggle="tab">
                {{ translate.career-page.graphic-design-page.excel-in-role.experience.title }}
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col">
        <div class="tab-content mt-5">
          <div class="tab-pane fade careers-content show active" id="graphic-design-page-skills">
            <ul class="para-list">
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.skills.text-1 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.skills.text-2 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.skills.text-3 }}
              </li>
            </ul>
          </div>
          <div class="tab-pane fade careers-content" id="graphic-design-page-degree">
            <ul class="para-list">
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.degree.text-1 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.degree.text-2 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.degree.text-3 }}
              </li>
            </ul>
          </div>
          <div class="tab-pane fade careers-content" id="graphic-design-page-experience">
            <ul class="para-list">
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.experience.text-1 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.experience.text-2 }}
              </li>
              <li class="mt-4">
                {{ translate.career-page.graphic-design-page.excel-in-role.experience.text-3 }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-benefits">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ translate.career-page.benefits.title }}</h2>
        <p>{{ translate.career-page.benefits.sub-title }}</p>
      </div>
    </div>
  </div>
</section>

<section class="section-lookingfor">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="medium">
          {{ translate.career-page.graphic-design-page.looking-for.title }}
        </h4>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-10">
        <div class="row">
          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-1 }} <span class="icon-creative"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-2 }}</p>
          </div>

          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-3 }} <span class="icon-talented"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-4 }}</p>
          </div>

          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-5 }} <span class="icon-inspire"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-6 }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 class="medium">
          {{ translate.career-page.graphic-design-page.looking-for.title-2 }}
        </h4>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-10">
        <div class="row">
          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-7 }} <span class="icon-improve"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-8 }}</p>
          </div>

          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-9 }} <span class="icon-do"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-10 }}</p>
          </div>

          <div class="col-md-4 bx-lookingfor">
            <h4>{{ translate.career-page.graphic-design-page.looking-for.text-11 }} <span class="icon-solve"></span></h4>
            <p>{{ translate.career-page.graphic-design-page.looking-for.text-12 }}</p>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="pt-5 bg-white">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5 pr-5 pl-5">
        <img class="w-100" src={{"/img/img-graphic-desinger-2.png" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="">
      </div>
      <div class="col-md-7">
        <h4 class="medium">
          {{ translate.career-page.graphic-design-page.your-role.title }}
        </h4>
        <ul class="para-list">
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-1 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-2 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-3 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-4 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-5 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.graphic-design-page.your-role.text-6 }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
