<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSix">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"
         aria-expanded="false" aria-controls="collapseSix">
        {{ translate.careers-page.graphic-designer.title }}</a>
    </div>
  </div>
  <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
    <div class="panel-body">
      <p>{{ translate.careers-page.graphic-designer.text }}</p>
      <p class="title">{{ translate.careers-page.graphic-designer.ideal-candidate.title }}</p>
      <p>{{ translate.careers-page.graphic-designer.ideal-candidate.text-1 }}
      </p>
      <p>{{ translate.careers-page.graphic-designer.ideal-candidate.text-2 }}
      </p>
      <p>{{ translate.careers-page.graphic-designer.ideal-candidate.text-3 }}</p>
      <p>{{ translate.careers-page.graphic-designer.ideal-candidate.text-4 }}
      </p>
      <p>{{ translate.careers-page.graphic-designer.ideal-candidate.text-5 }}
      </p>
      <p>{{ translate.careers-page.graphic-designer.looking-for.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.graphic-designer.looking-for.create }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.solve-problems }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.do-great-work }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.work-in-environment }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.get-things-done }}r</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.work-without-hierarchy }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.latest-tools }}</li>
        <li>{{ translate.careers-page.graphic-designer.looking-for.learn }}</li>
      </ul>
      </p>
      <p>{{ translate.careers-page.graphic-designer.to-excel.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.graphic-designer.to-excel.graphic-design-experience }}</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.communicate }}r</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.experience-in-complex-concepts }}</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.understanding }}</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.creative }}</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.tools }}</li>
        <li>{{ translate.careers-page.graphic-designer.to-excel.degree }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.graphic-designer.role.title }}</p>
      <p>{{ translate.careers-page.graphic-designer.role.text }}
      <ul class="dashed">
        <li>{{ translate.careers-page.graphic-designer.role.experience }}</li>
        <li>{{ translate.careers-page.graphic-designer.role.design }}</li>
        <li>{{ translate.careers-page.graphic-designer.role.mockups }}</li>
        <li>{{ translate.careers-page.graphic-designer.role.design-solutions }}</li>
        <li>{{ translate.careers-page.graphic-designer.role.communicate }}</li>
        <li>{{ translate.careers-page.graphic-designer.role.incorporate }}s</li>
        <li>{{ translate.careers-page.graphic-designer.role.keep-up }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.graphic-designer.benefits.title }}</p>
      <p>{{ translate.careers-page.graphic-designer.benefits.text }}</p>
      <p class="title">{{ translate.careers-page.graphic-designer.location.title }}</p>
      <p>{{ translate.careers-page.graphic-designer.location.text }}</p>
      <p>{{ translate.careers-page.graphic-designer.apply }} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a>
      </p>
    </div>
  </div>
</div>
