<!-- Navigation -->
<div class="container-fluid">

  <nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src= "{{ site.github.url }}/img/FS_logo.svg" alt=""></a>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/contact">Contact</a>
        </li>
      </ul>
  </nav>

  </div>
