<!-- Navigation -->
{% assign translate = site.data.translations[page.lang] %}
<div class="container-fluid">

  <nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    {% if page.lang == 'fa' %}
    <a class="navbar-brand" href={{ "/fa/" | prepend: site.github.url | replace: 'http://', 'https://' }}><img src= {{ "/img/FS_logo.svg" | prepend: site.github.url | replace: 'http://', '//' }} alt=""></a>
    {% else %}
    <a class="navbar-brand" href={{ "/" | prepend: site.github.url | replace: 'http://', 'https://' }}><img src= {{ "/img/FS_logo.svg" | prepend: site.github.url | replace: 'http://', '//' }} alt=""></a>
    {% endif %}

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
      {% if page.lang == 'fa' %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href={{ "/fa/index" | prepend: site.base_url | replace: 'http://', 'https://' }}>{{ translate.home }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/fa/services" | prepend: site.github.url | replace: 'http://', 'https://' }} >{{ translate.services }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/fa/about" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.about }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/fa/careers" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.careers }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/fa/contact" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.contact }}</a>
        </li>
        <li class="nav-item lang-switcher english-link">
          <!-- change language of site -->
          <a class="nav-link" href="{{ "/" | prepend: site.baseurl_root }}">{{ translate.see-in-english }}</a>
        </li>
        <li class="nav-item lang-switcher">
          <a class="nav-link" href="{{ "/fa/" | prepend: site.baseurl_root }}">{{ translate.see-in-farsi }}</a>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href={{ "/index" | prepend: site.base_url | replace: 'http://', 'https://' }}>{{ translate.home }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/services" | prepend: site.github.url | replace: 'http://', 'https://' }} >{{ translate.services }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/about" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.about }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/careers" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.careers }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/contact" | prepend: site.github.url | replace: 'http://', 'https://' }}>{{ translate.contact }}</a>
        </li>
        <!-- change language of site -->
        <li class="nav-item lang-switcher farsi-link">
          <a class="nav-link" href="{{ "/fa/" | prepend: site.baseurl_root }}">{{ translate.see-in-farsi }}</a>
        </li>
        <li class="nav-item lang-switcher">
          <a class="nav-link" href="{{ "/" | prepend: site.baseurl_root }}">{{ translate.see-in-english }}</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </nav>

</div>
