<!-- Navigation -->
<div class="container-fluid">

  <nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" href={{ "/" | prepend: site.baseurl | replace: 'http://', 'https://' }}><img src= {{ "/img/FS_logo.svg" | prepend: site.github.url | replace: 'http://', '//' }} alt=""></a>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href={{ "/index" | prepend: site.baseurl | replace: 'http://', 'https://' }}>{% translate home %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/services" | prepend: site.baseurl | replace: 'http://', 'https://' }} >{% translate services %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/about" | prepend: site.baseurl | replace: 'http://', 'https://' }}>{% translate about %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/careers" | prepend: site.baseurl | replace: 'http://', 'https://' }}>
          {% translate careers %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ "/contact" | prepend: site.baseurl | replace: 'http://', 'https://' }}>{% translate contact %}</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
