<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
  General Affairs & Human Resource Executive</a>
    </div>
  </div>
  <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <p>First Source Arya Solutions LLC is seeking a detail-oriented, proactive, and organised General Affairs & Human Resource Executive. You will lead, execute, and support a wide range of HR-related and administrative tasks that are essential to the
        smooth operations and growth of our office in Tehran.</p>
      <p class="title">The ideal candidate</p>
      <p>You are meticulous about details, and you love to make people’s lives easier by taking care of the little things that help them get their work done.</p>
      <p>You thrive in a dynamic and collaborative work environment, and approach even the smallest task with an open mind.</p>
      <p>Most importantly, you value the importance of constant, open, and honest communication.</p>
      <p>We are looking for someone who loves to:
        <ul class="dashed">
          <li>Keep things organised –– efficiently and sustainably</li>
          <li>Stay on top of things through careful planning and follow-ups</li>
          <li>Interact and communicate with people, both internal and external stakeholders alike</li>
          <li>Do great work, and inspires people around them to do the same</li>
          <li>Get things done the right way without any loose ends</li>
          <li>Work without bureaucracy and hierarchy</li>
          <li>Learn and improve, day in and day out</li>
        </ul>
      </p>
      <p>To excel in this role, you must have:
        <ul class="dashed">
          <li>An advanced/higher/graduate diploma or bachelor’s degree</li>
          <li>Extensive experience in Microsoft Office applications, as well as popular HR management and payroll systems</li>
          <li>Well-honed organisational, interpersonal, administrative, and accounting skills</li>
          <li>Excellent oral and written communication skills in English and Farsi</li>
          <li>Detail-orientated and able to work with a high degree of accuracy and autonomy</li>
          <li>Knowledge in principles and procedures of recruitment, performance appraisal, employment/labour law and relations</li>
        </ul>
      </p>
      <p class="title">Your role</p>
      <p>The General Affairs & Human Resources team manages essential human resource functions such as onboarding, payroll, compensation studies, and performance appraisals. You will also manage our suppliers and contractors, as well as general administrative
        duties and procedures.</p>
      <p>As our GA & HR Executive, you will be counted on to lead, execute, and support a wide range of HR-related and administrative tasks to ensure the smooth operations of our office in Tehran.</p>
      <p>You will:
        <ul class="dashed">
          <li>Act as first point of contact for all Tehran based employees regarding HR issues</li>
          <li>Support and assist our recruitment and talent management needs, including aiding in the full recruitment lifecycle process</li>
          <li>Administer key human resource activities such as performance appraisals</li>
          <li>Provide administrative support to all the following areas: vendor management, office management, event planning, recruitment, and accounting</li>
        </ul>
      </p>
      <p class="title">Remuneration and benefits</p>
      <p>This position offers a market-based salary, annual performance bonus, and flexi hours.</p>
      <p class="title">Location</p>
      <p>Tehran, Iran</p>
      <p>To apply, please submit your CV and cover letter to <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>
