<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        {{ translate.careers-page.hr.title }}</a>
    </div>
  </div>
  <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <p>{{ translate.careers-page.hr.text }}</p>
      <p class="title">{{ translate.careers-page.hr.ideal-candidate.title }}</p>
      <p>{{ translate.careers-page.hr.ideal-candidate.text-1 }}</p>
      <p>{{ translate.careers-page.hr.ideal-candidate.text-2 }}</p>
      <p>{{ translate.careers-page.hr.ideal-candidate.text-3 }}</p>
      <p>{{ translate.careers-page.hr.looking-for.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.hr.looking-for.organised }}</li>
        <li>{{ translate.careers-page.hr.looking-for.stay-on-top }}</li>
        <li>{{ translate.careers-page.hr.looking-for.interact-and-communicate }}</li>
        <li>{{ translate.careers-page.hr.looking-for.do-great-work }}</li>
        <li>{{ translate.careers-page.hr.looking-for.get-things-done }}</li>
        <li>{{ translate.careers-page.hr.looking-for.work-without-hierarchy }}</li>
        <li>{{ translate.careers-page.hr.looking-for.learn }}</li>
      </ul>
      </p>
      <p>{{ translate.careers-page.hr.to-excel.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.hr.to-excel.degree }}</li>
        <li>{{ translate.careers-page.hr.to-excel.experience }}</li>
        <li>{{ translate.careers-page.hr.to-excel.skills }}</li>
        <li>{{ translate.careers-page.hr.to-excel.communication }}</li>
        <li>{{ translate.careers-page.hr.to-excel.accurate }}</li>
        <li>{{ translate.careers-page.hr.to-excel.knowledge }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.hr.role.title }}</p>
      <p>{{ translate.careers-page.hr.role.text-1 }}</p>
      <p>{{ translate.careers-page.hr.role.text-2 }}</p>
      <p>{{ translate.careers-page.hr.role.you-will.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.hr.role.you-will.first-point-of-contact }}</li>
        <li>{{ translate.careers-page.hr.role.you-will.support-and-assist }}</li>
        <li>{{ translate.careers-page.hr.role.you-will.activities }}</li>
        <li>{{ translate.careers-page.hr.role.you-will.support }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.hr.benefits.title }}</p>
      <p>{{ translate.careers-page.hr.benefits.text }}</p>
      <p class="title">{{ translate.careers-page.hr.location.title }}</p>
      <p>{{ translate.careers-page.hr.location.text }}</p>
      <p>{{ translate.careers-page.hr.apply }} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>