<!-- begin ====== -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFive">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        {{ translate.careers-page.internship-opportunities.title }}</a>
    </div>
  </div>
  <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
    <div class="panel-body">
      <p>{{ translate.careers-page.internship-opportunities.text }}</p>
      <p class="title">{{ translate.careers-page.internship-opportunities.ideal-candidate.title }}</p>
      <p>{{ translate.careers-page.internship-opportunities.ideal-candidate.text }}
      </p>
      <p>{{ translate.careers-page.internship-opportunities.looking-for.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.internship-opportunities.looking-for.thrive-in-environment }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.approach }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.value }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.solve-problems }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.do-great-work }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.work-in-environment }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.get-things-done }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.work-without-hierarchy }}</li>
        <li>{{ translate.careers-page.internship-opportunities.looking-for.learn }}</li>
      </ul>
      <p class="title">{{ translate.careers-page.internship-opportunities.role.title }}</p>
      <p>{{ translate.careers-page.internship-opportunities.role.text-1 }}</p>
      <p>{{ translate.careers-page.internship-opportunities.role.text-2 }}</p>
      <p>{{ translate.careers-page.internship-opportunities.role.text-3 }}</p>
      <p class="title">{{ translate.careers-page.internship-opportunities.internship-opportunities.title }}</p>
      <p>{{ translate.careers-page.internship-opportunities.internship-opportunities.text-1 }}</p>
      <p>{{ translate.careers-page.internship-opportunities.internship-opportunities.text-2 }}
      <ul class="dashed">
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.front-end }}</li>
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.perl-development }}</li>
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.software-engineering }}</li>
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.quants }}</li>
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.graphic-design }}</li>
        <li>{{ translate.careers-page.internship-opportunities.internship-opportunities.software-testing }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.internship-opportunities.location.title }}</p>
      <p>{{ translate.careers-page.internship-opportunities.location.text }}</p>
      <p>{{ translate.careers-page.internship-opportunities.apply }} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>
<!-- end  ====== -->