<!-- jQuery Version 3.2.1 -->
<script src={{ "/js/jquery-3.2.1.min.js" | prepend: site.github.url | replace: 'http://', 'https://' }}></script>

<!-- Popper js -->
<script src={{ "/js/popper.min.js" | prepend: site.github.url | replace: 'http://', 'https://' }}></script>

<!-- Bootstrap JavaScript -->
<script src={{ "/js/bootstrap.min.js" | prepend: site.github.url | replace: 'http://', 'https://' }}></script>

<!-- slick js -->
<script src={{ "/js/slick.min.js" | prepend: site.github.url | replace: 'http://', 'https://' }}></script>

<!-- Custom JavaScript -->
<script src={{ "/js/main.js" | prepend: site.github.url | replace: 'http://', 'https://' }}></script>

