<!-- begin ====== -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSeven">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
  Quantitative Analyst</a>
    </div>
  </div>
  <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
    <div class="panel-body">
      <p>First Source Arya Solutions is seeking a driven, analytical, and technically-gifted Quantitative Analyst to develop and optimise derivatives pricing and risk management algorithms for our clients’ online trading platforms.</p>
      <p class="title">The ideal candidate</p>
      <p>You excel at the intersection of mathematics, programming, and finance.</p>
      <p>You thrive in a fast-paced environment that values collaboration and open communication. You enjoy the challenges posed by mathematical models, data analysis, and financial research.</p>
      <p>As our Quantitative Analyst, you will have the opportunity to develop derivatives pricing, as well as risk management models and algorithms that directly influence the success of global trading platforms.</p>
      <p>We are looking for someone who loves to:
        <ul class="dashed">
          <li>Apply mathematical models to real-world scenarios</li>
          <li>Solve complex and abstract mathematical problems to optimise pricing and manage risk</li>
          <li>Analyse trading patterns to identify new market opportunities</li>
          <li>Work with highly talented people in an exciting, multinational environment</li>
          <li>Do great work, and inspires people around them to do the same</li>
          <li>Get things done in a no-nonsense manner</li>
          <li>Work without bureaucracy and hierarchy</li>
          <li>Learn and improve, day in and day out</li>
        </ul>
      </p>
      <p>To excel in this role, you must have:
        <ul class="dashed">
          <li>An advanced university degree in physics, financial engineering, or mathematics</li>
          <li>Knowledge of probability theory, stochastic calculus, numerical methods, Monte-Carlo simulation, differential equations, econometrics, and statistical modelling</li>
          <li>Expertise in the application of object-oriented programming languages (C++, Perl, and Java), coupled with the ability to produce high-quality code</li>
        </ul>
      </p>
      <p class="title">Your role</p>
      <p>As our Quantitative Analyst, you will:
        <ul class="dashed">
          <li>Develop derivatives pricing, as well as risk management models and algorithms using C/C++, R, MATLAB, Perl, Python, and Java</li>
          <li>Review, develop, and enhance Perl, C++, and R codes used in options pricing, volatility forecasts, and risk management programs</li>
          <li>Maintain accurate system pricing parameters</li>
          <li>Perform data mining using SQL databases, R/S-Plus, OLAP, and other analytical tools</li>
          <li>Monitor website trading activity and minimise abuse</li>
          <li>Generate periodic and special reports that summarise client trading trends</li>
        </ul>
      </p>
      <p class="title">Remuneration and benefits</p>
      <p>This position offers a market-based salary, annual performance bonus, and flexi hours.</p>
      <p class="title">Location</p>
      <p>Tehran, Iran</p>
      <p>To apply, please submit your CV and cover letter to <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>
<!-- end  ====== -->
