<!-- begin ====== -->
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingSeven">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        {% translate careers-page.quants.title %}</a>
    </div>
  </div>
  <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
    <div class="panel-body">
      <p>{% translate careers-page.quants.text %}</p>
      <p class="title">{% translate careers-page.quants.ideal-candidates.title %}</p>
      <p>{% translate careers-page.quants.ideal-candidates.text-1 %}</p>
      <p>{% translate careers-page.quants.ideal-candidates.text-2 %}</p>
      <p>{% translate careers-page.quants.ideal-candidates.text-3 %}</p>
      <p>{% translate careers-page.quants.looking-for.title %}
        <ul class="dashed">
          <li>{% translate careers-page.quants.looking-for.mathematical %}</li>
      <li>{% translate careers-page.quants.looking-for.solve %}</li>
      <li>{% translate careers-page.quants.looking-for.analyse %}</li>
          <li>{% translate careers-page.quants.looking-for.do-great-work %}</li>
          <li>{% translate careers-page.quants.looking-for.work-in-environment %}</li>
          <li>{% translate careers-page.quants.looking-for.get-things-done %}</li>
          <li>{% translate careers-page.quants.looking-for.work-without-hierarchy %}</li>
          <li>{% translate careers-page.quants.looking-for.learn %}</li>
        </ul>
      </p>
      <p>{% translate careers-page.quants.to-excel.title %}
        <ul class="dashed">
          <li>{% translate careers-page.quants.to-excel.degree %}</li>
          <li>{% translate careers-page.quants.to-excel.knowledge %}</li>
          <li>{% translate careers-page.quants.to-excel.expertise %}</li>
        </ul>
      </p>
      <p class="title">{% translate careers-page.quants.role.title %}</p>
      <p>{% translate careers-page.quants.role.text %}
        <ul class="dashed">
          <li>{% translate careers-page.quants.role.develop %}</li>
          <li>{% translate careers-page.quants.role.review %}</li>
          <li>{% translate careers-page.quants.role.maintain %}</li>
          <li>{% translate careers-page.quants.role.data-mining %}</li>
          <li>{% translate careers-page.quants.role.monitor %}</li>
          <li>{% translate careers-page.quants.role.generate %}</li>
        </ul>
      </p>
      <p class="title">{% translate careers-page.quants.benefits.title %}</p>
      <p>{% translate careers-page.quants.benefits.text %}</p>
      <p class="title">{% translate careers-page.quants.location.title %}</p>
      <p>{% translate careers-page.quants.location.text %}</p>
      <p>{% translate careers-page.quants.apply %} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>
<!-- end  ====== -->
