<section class="mt-5">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-8">
        <h4 class="medium">
          {{ translate.career-page.senior-backend-developer-page.ideal-candidate.title }}
        </h4>
        <ul class="para-list">
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-1 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-2 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-3 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-4 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-5 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-6 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.ideal-candidate.text-7 }}
          </li>
        </ul>
      </div>
      <div class="col-md-4 vertical-align">
        <img class="w-100" src={{"/img/img-back-end-1.png" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="">
      </div>
    </div>
  </div>
</section>

<section class="section-padding bg-white section-excel-in-role">
  <div class="container">
    <div class="row">
      <div class="col-0 col-sm-0 col-md-1"></div>
      <div class="col-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col">
            <h4 class="medium">
              {{ translate.career-page.senior-backend-developer-page.excel-in-role.title }}
            </h4>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col careers-tabs">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item"><a class="nav-link active" href="#senior-backend-developer-page-skills" data-toggle="tab">
                {{ translate.career-page.senior-backend-developer-page.excel-in-role.skills.title }}
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#senior-backend-developer-page-degree" data-toggle="tab">
                {{ translate.career-page.senior-backend-developer-page.excel-in-role.degree.title }}
              </a></li>
              <li class="nav-item"><a class="nav-link" href="#senior-backend-developer-page-experience" data-toggle="tab">
                {{ translate.career-page.senior-backend-developer-page.excel-in-role.experience.title }}
              </a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="tab-content mt-5">
              <div class="tab-pane fade careers-content show active" id="senior-backend-developer-page-skills">
                <ul class="para-list">
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.skills.text-1 }}
                  </li>
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.skills.text-2 }}
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade careers-content" id="senior-backend-developer-page-degree">
                <ul class="para-list">
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.degree.text-1 }}
                  </li>
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.degree.text-2 }}
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade careers-content" id="senior-backend-developer-page-experience">
                <ul class="para-list">
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.experience.text-1 }}
                  </li>
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.experience.text-2 }}
                  </li>
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.experience.text-3 }}
                  </li>
                  <li class="mt-4">
                    {{ translate.career-page.senior-backend-developer-page.excel-in-role.experience.text-4 }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-benefits">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ translate.career-page.benefits.title }}</h2>
        <p>{{ translate.career-page.benefits.sub-title }}</p>
      </div>
    </div>
  </div>
</section>

<section class="section-lookingfor">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="medium">
          {{ translate.career-page.senior-backend-developer-page.looking-for.title }}
        </h4>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-1 }} <span class="icon-fix"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-2 }}</p>
      </div>

      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-3 }} <span class="icon-optimise"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-4 }}</p>
      </div>

      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-5 }} <span class="icon-inspire"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-6 }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4 class="medium">
          {{ translate.career-page.senior-backend-developer-page.looking-for.title-2 }}
        </h4>
      </div>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-7 }} <span class="icon-do"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-8 }}</p>
      </div>

      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-9 }} <span class="icon-use"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-10 }}</p>
      </div>

      <div class="col-md-4 bx-lookingfor">
        <h4 class="medium">{{ translate.career-page.senior-backend-developer-page.looking-for.text-11 }} <span class="icon-talented"></span></h4>
        <p>{{ translate.career-page.senior-backend-developer-page.looking-for.text-12 }}</p>
      </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-5 vertical-align">
        <img class="w-100" src={{"/img/img-back-end-2.png" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="">
      </div>
      <div class="col-md-7">
        <h4 class="medium">
          {{ translate.career-page.senior-backend-developer-page.your-role.title }}
        </h4>
        <ul class="para-list">
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.your-role.text-1 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.your-role.text-2 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.your-role.text-3 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.your-role.text-4 }}
          </li>
          <li class="mt-4">
            {{ translate.career-page.senior-backend-developer-page.your-role.text-5 }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
