<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <div class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
         aria-expanded="false" aria-controls="collapseThree">
        {{ translate.careers-page.software-tester.title }}</a>
    </div>
  </div>
  <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <p>{{ translate.careers-page.software-tester.text }}</p>
      <p class="title">{{ translate.careers-page.software-tester.ideal-candidate.title }}</p>
      <p>{{ translate.careers-page.software-tester.ideal-candidate.text-1 }}</p>
      <p>{{ translate.careers-page.software-tester.ideal-candidate.text-2 }}</p>
      <p>{{ translate.careers-page.software-tester.ideal-candidate.text-3 }}</p>
      <p>{{ translate.careers-page.software-tester.ideal-candidate.text-4 }}</p>
      <p>{{ translate.careers-page.software-tester.ideal-candidate.text-5 }}</p>
      <p>{{ translate.careers-page.software-tester.looking-for.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.software-tester.looking-for.solve-problems }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.make-things-better }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.do-great-work }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.team-work }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.get-things-done }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.work-without-hierarchy }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.have-latest-tools }}</li>
        <li>{{ translate.careers-page.software-tester.looking-for.learn }}</li>
      </ul>
      </p>
      <p>{{ translate.careers-page.software-tester.to-excel.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.software-tester.to-excel.degree }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.understanding }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.experience }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.experience-in-test-plans }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.agile }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.project-management-tools }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.familiarity-with-git }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.passion-for-open-source }}</li>
        <li>{{ translate.careers-page.software-tester.to-excel.knowledge }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.software-tester.role.title }}</p>
      <p>{{ translate.careers-page.software-tester.role.text }}</p>
      <p>{{ translate.careers-page.software-tester.role.multiple-tests }}
      <ul class="dashed">
        <li>{{ translate.careers-page.software-tester.role.manual-and-automated }}</li>
        <li>{{ translate.careers-page.software-tester.role.usability }}</li>
        <li>{{ translate.careers-page.software-tester.role.interface }}</li>
        <li>{{ translate.careers-page.software-tester.role.functional }}</li>
        <li>{{ translate.careers-page.software-tester.role.performance }}</li>
        <li>{{ translate.careers-page.software-tester.role.scalability-and-stability }}</li>
        <li>{{ translate.careers-page.software-tester.role.black-white-box }}</li>
        <li>{{ translate.careers-page.software-tester.role.api-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.security-and-penetration }}</li>
        <li>{{ translate.careers-page.software-tester.role.regression-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.integration-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.unit-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.component-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.localization-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.load-test }}</li>
        <li>{{ translate.careers-page.software-tester.role.code-review }}</li>
      </ul>
      </p>
      <p>{{ translate.careers-page.software-tester.will.title }}
      <ul class="dashed">
        <li>{{ translate.careers-page.software-tester.will.test-backend }}</li>
        <li>{{ translate.careers-page.software-tester.will.work-with-IT-team }}</li>
        <li>{{ translate.careers-page.software-tester.will.create-test }}</li>
        <li>{{ translate.careers-page.software-tester.will.plan-test }}</li>
        <li>{{ translate.careers-page.software-tester.will.ensure-integrity }}</li>
        <li>{{ translate.careers-page.software-tester.will.track-bugs }}</li>
        <li>{{ translate.careers-page.software-tester.will.ideas }}</li>
        <li>{{ translate.careers-page.software-tester.will.resolve-issues }}</li>
      </ul>
      </p>
      <p class="title">{{ translate.careers-page.software-tester.benefits.title }}</p>
      <p>{{ translate.careers-page.software-tester.benefits.text }}</p>
      <p class="title">{{ translate.careers-page.software-tester.location.title }}</p>
      <p>{{ translate.careers-page.software-tester.location.text }}</p>
      <p>{{ translate.careers-page.software-tester.apply }} <a href="mailto:hr@firstsource.io">hr@firstsource.io</a></p>
    </div>
  </div>
</div>