<div class="row justify-content-center">
  <div class="col-11 col-sm-12 col-md-12">
    <div class="row event-box-container justify-content-md-center">
      <div class="col-md-4">
        <div class="box-event">
            <h4>{{ translate.event.ict-challenge.title }}</h4>
            <img class="w-100" src={{"/img/event/img-ict-challenge.jpg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="" />
            <p><span class="icon-time"></span>{{ translate.event.ict-challenge.date }} </p>
            <p><span class="icon-loc"></span>{{ translate.event.ict-challenge.location }} </p>
            <a class="readmore" href="http://ictchallenge.sharif.ir/" target="_blank">
              {{ translate.event.ict-challenge.button }}
            </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box-event">
            <h4>{{ translate.event.jobex-career-fair-2.title }}</h4>
            <img class="w-100" src={{"/img/event/img-jobex-career-fair-2.jpg" | prepend: site.github.url | replace: 'http://', 'https://' }} alt="" />
            <p><span class="icon-time"></span>{{ translate.event.jobex-career-fair-2.date }} </p>
            <p><span class="icon-loc"></span>{{ translate.event.jobex-career-fair-2.location }} </p>
            <a class="readmore" href="http://www.iranjobex.com/" target="_blank">
              {{ translate.event.jobex-career-fair-2.button }}
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
