@font-face {
  font-family: 'Vazir-FD';
  src: url('/fonts/Vazir-FD.woff') format('woff'), url('/fonts/Vazir-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir-Bold-FD';
  src: url('/fonts/Vazir-Bold-FD.woff') format('woff'), url('/fonts/Vazir-Bold-FD.ttf') format('truetype');
}

body {
  direction: RTL;
  font-family: 'Vazir-FD', 'Source Sans Pro', sans-serif;
}

.ltr-in-persian {
  direction: LTR;
  font-family: 'Source Sans Pro', sans-serif;
}

.ltr {
  direction: LTR;
}

.rtl {
  direction: RTL;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h4 {
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6, .panel-body > p.title, .btn {
  font-family: 'Vazir-Bold-FD';
}

.arrow {
  transform: rotate(180deg);
  margin-right: 10px;
}
