body {
  direction: RTL;
  font-family: 'Vazir-FD', 'Source Sans Pro', sans-serif;
}

.ltr-in-persian {
  direction: LTR;
  font-family: 'Source Sans Pro', sans-serif;
}

.ltr {
  direction: LTR;
}

.rtl {
  direction: RTL;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h4 {
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6, .panel-body > p.title, .btn {
  font-family: 'Vazir-Bold-FD';
}

.arrow {
  transform: rotate(180deg);
  margin-right: 10px;
}

.language-toggler {
  text-align: left;
  direction: LTR;
}

#events .events-container {
  .events-box {
    &__img {
      padding: 0 0 0 36px;
      @media (max-width: 575px) {
        padding: 0;
      }
    }
    &__location:before, &__date:before, &__website:before {
      margin-left: 8px;
      margin-right: 0;
    }
  }
}