@font-face {
  font-family: 'Vazir-FD';
  src: url('/fonts/Vazir-FD.woff') format('woff'), url('/fonts/Vazir-FD.ttf') format('truetype');
}

@font-face {
  font-family: 'Vazir-Bold-FD';
  src: url('/fonts/Vazir-Bold-FD.woff') format('woff'), url('/fonts/Vazir-Bold-FD.ttf') format('truetype');
}

body,
html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span,
input,
textarea,
select,
b,
i,
li {
  font-family: 'Roboto', sans-serif;
}

ul {
  li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    a {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

section {
  padding-bottom: 80px;

  &.np {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &.pt {
    padding-top: 80px;
  }
  &.home {
    background: linear-gradient(rgba(20, 110, 180, 0.8),rgba(20, 110, 180, 0.8)), url("img/office.jpg") repeat left top / cover;
    color: $white;
    padding: 200px 0px 330px;
    h2 {
      font-size: 52px;
    }
  }
  &.who-we-are{
    margin-top: -100px;
  }
  &.benefits {
    background: url('img/benefits.png') no-repeat scroll center center / cover;
    height: 266px;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;

  &.reverse_color {
    color: $white;
  }
}

h1 {
  font-size: 56px;
  line-height: 1.25;
}

h2 {
  font-size: 40px;
  line-height: 1.25;
}

h3 {
  font-size: 32px;
  line-height: 1.25;
}

h4 {
  font-size: 24px;
  line-height: 1.25;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.text-small {
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: $secondary_color;
  font-weight: 700;
  &:hover{
    color: $secondary_color_hover;
    text-decoration: none;
  }
  &[href^="mailto"]{
    color: $white;
    font-size: 24px;
  }
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.medium {
  font-weight: 500;
}

.container {
  padding-right: 5rem;
  padding-left: 5rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.bg-semi-white {
  background: $semi_white;
}
.bg-white {
  background: $white;
}
.bg-gray-white{
  background: $gray_white;
}
.bg-light-blue{
  background: $light_blue;
}

.container {
  padding: 25px;
}

.container-large {
  padding: 50px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.divider-small {
  width: 50px;
  border-top: 2px solid $blue;
  box-shadow: 0px 1px 2px $blue;
  border-radius: 50px;
  margin: 20px 0;
}

.divider-large {
  width: 200px;
  border-top: 1px solid $blue;
  margin: 20px 0;
}

.section-divider {
  width: 100%;
  border-top: 2px solid $semi_white;
}

.circled-icon {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  background: $white;
  @extend .shadow;
}

[class*="icon"] {
  padding: 8px 21px;
  margin-left: 10px;
  position: relative;
  bottom: 11px;
}
.icon-creative {
  background: url('img/icons/creative-icon.svg') no-repeat scroll center center;
}
.icon-talented {
  background: url('img/icons/talented-icon.svg') no-repeat scroll center center;
}
.icon-inspire {
  background: url('img/icons/inspire-icon.svg') no-repeat scroll center center;
}
.icon-improve {
  background: url('img/icons/improve-icon.svg') no-repeat scroll center center;
}
.icon-do {
  background: url('img/icons/do-icon.svg') no-repeat scroll center center;
}
.icon-solve {
  background: url('img/icons/solve-icon.svg') no-repeat scroll center center;
}
.icon-fix {
  background: url('img/icons/fix-icon.svg') no-repeat scroll center center;
}
.icon-optimise {
  background: url('img/icons/optimise-icon.svg') no-repeat scroll center center;
}
.icon-interaction {
  background: url('img/icons/interaction-icon.svg') no-repeat scroll center center;
}
.icon-organized {
  background: url('img/icons/organized-icon.svg') no-repeat scroll center center;
}
.icon-planing {
  background: url('img/icons/planing-icon.svg') no-repeat scroll center center;
}
.icon-use {
  background: url('img/icons/use-icon.svg') no-repeat scroll center center;
}
.icon-analyze {
  background: url('img/icons/analyze-icon.svg') no-repeat scroll center center;
}
.icon-apply {
  background: url('img/icons/apply-icon.svg') no-repeat scroll center center;
}





.btn {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  }

  &:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  }

  &:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  }
}

.btn-primary {
  background: $orange;
  border: none;

  &:hover {
    background: $orange;
  }

  &:active {
    background: $orange!important;
  }

  &:focus {
    border: none;
  }
}

a.btn {
  -webkit-appearance: none;
}

.next, .prev {
  border: none;
  box-shadow: none;
  background: $white;
  
  i {
    color: $orange;
    font-size: 36px;
  }

  &:hover {
    border: none;
    box-shadow: none!important;
    background: $white;
  }

  &:active {
    border: none;
    box-shadow: none!important;
    background: $white;
  }

  &:focus {
    border: none;
    box-shadow: none!important;
    background: $white;
  }
}

nav.navbar {
  background: $white;

  .navbar-brand {
    img {
      width: 195px;
    }
  }

  .navbar-toggler {
    outline: none;
  }
  ul.navbar-nav {
    li {
      border-bottom: 2px solid $white;
      .nav-link {
        color: $black;
        font-weight: 500;
      }
      &.active {
        border-bottom: 2px solid $blue;
      }
    }
  }
}

.intro {
  height: auto;

  .image-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      rgba(20, 110, 180, 0.8),
      rgba(20, 110, 180, 0.8)
    ), url("img/office.jpg") repeat left top;
    position: absolute;
    max-width: 64%;
    top: 0;
    left: 0;
    @media (min-width: 745px) and (max-width: 1199px) {
      max-width: 70%;
    }
  }

  .overlay-image {
    bottom: -130px;
    right: 15px;
    z-index: 1;
    img {
      width: 100%;
      max-width: 800px;
    }
    @media (min-width: 745px) and (max-width: 1199px) {
      bottom: -245px;
    }
  }
}

.intro-tail {
  height: 130px;
  background-color: $blue;
  opacity: 0.9;
}

.more {
  i {
    margin-left: 5px;
  }
}

.join-us {
  background: #f58a07;

  .apply {
    padding: 15px;
    height: 100%;
    width: 100%;

    .apply-text {
      height: calc(100% - 50px);
      padding: 25px;
    }
  }

  img {
    max-width: 250px;
  }
}

//footer
footer {
  background: url('img/img-footer.png') no-repeat scroll center center;
  color: $white;
  h3, i {
    color: $white;
  }
  .footer-logo {
    width: 50px;
  }
  #footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    [class*="icon"]{
      bottom: 0px;
      padding: 0px;
    }
  }
}
.sidemenu-list {
  @extend .sticky-top;
  // background: $white;
  li {
      color: $black;
      font-weight: normal;
      a {
        color: $black;
        font-weight: normal;

        &.nav-link {
          background: $semi_white;
          border-radius: 2px;
          padding: 4px 16px;
          position: relative;
          vertical-align: top;

          &::before {
            background-color: $semi_white;
            content: "\00a0";
            display: block;
            height: 16px;
            width: 16px;
            position: absolute;
            bottom: -7.5px;
            z-index: -1;
            transform: rotate(47deg) skew(5deg);
            -moz-transform: rotate(47deg) skew(5deg);
            -ms-transform: rotate(47deg) skew(5deg);
            -o-transform: rotate(47deg) skew(5deg);
            -webkit-transform: rotate(47deg) skew(5deg);
          }
        }
      }
    }

  ul {
    padding: 15px 0;
    
    li {
      padding: 8px 0 8px 20px;

      &.active {
        border-left: 2px solid $black;

        a {
          font-weight: bold;
        }
      }
    }
  }
}
// paragraph list
ul.para-list {
  padding: 0;
  li {
    padding-left: 16px;
    background: transparent url("img/icons/square-solid.svg") no-repeat scroll left 7px !important;
  }
  i {
    color: $blue;
    font-size: 10px;
  }
}

.how-we-build-text {
  border-left: 2px solid $orange;

  .text-blue {
    @extend .bold;
  }
}

.career-details-border {
  border-right: 3px solid $orange;

  img {
    width: 100%;
    max-width: 50px;
  }
}

.company-values-chart-logo {
  background-image: url("img/logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 64px;
}

.company-values-chart-border {
  width: 170px;
  background: $blue;
}

.company-values-chart-border-right-col {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;

  .company-values-chart-border-right {
    border-right: 1px solid $blue;
    height: 170px;
  }
}

.circled-image {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: 2px solid $orange;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  @media screen and (max-width: 1025px) {
    width: 270px;
    height: 270px;
  }
}

.circled-thumbnail {
  border: 2px solid $white;
  transition: 1s ease;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slick-disabled {
  opacity: 0.75;
}

.slick-current {
  .circled-thumbnail {
    border: 2px solid $orange;
  }
}

.slick-slide {
  &:focus {
    outline: none!important;
  }
}

.career-box {
  width: calc((100% - 90px) / 3);;
  margin: 15px;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 0;
  position: relative;

  &:before {
    width: 100%;
    height: 35%;
    background-color: rgba(20, 110, 180, 0.05);
    position: absolute;
    top: 0;
    content: '';
  }
  a {
    display: block;
    height: 100%;
    border-radius: 5px;
    border-bottom: 3px solid $white;
    transition: .3s ease;
    padding: 20px 0;

    .job-title {
      height: 50px;
      align-items: flex-end;

      h4 {
        font-size: 20px;
      }
    }

    .job-image {
      img {
        height: 125px;
      }
    }

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
      border-bottom: 3px solid $blue;

      h4 {
        @extend .text-blue;
        transition: .5s ease;
      }
    }
  }
}

.nav-tabs.careers-details {
  background-color: $white;
  @include border-radius(5px);
  @include box-shadow(0,0, 3px, rgba($black, 0.3));
  border: none;
  margin-top: -24px;
  li.nav-item {
    a.nav-link {
      @extend .regular;
      @include border-radius(5px);
      color: $black;
      padding: 0.9rem .8rem;
      border: none !important;
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;

      &.active {
        background: $blue !important;
        color: $white;
      }
    }
  }
}
.careers-tabs{
  .nav-pills {
    background-color: $white;
    @include border-radius(5px);
    @include box-shadow(0,0, 3px, rgba($black, 0.3));
    border: none;
    margin-top: -24px;
    li.nav-item {
      a.nav-link {
        @extend .regular;
        @include border-radius(5px);
        color: $black;
        padding: 0.9rem .8rem;
        border: none !important;
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        &.active {
          background: $blue !important;
          color: $white;
        }
      }
    }
  }
}
.careers-content-title{
  font-size: 35px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $black;
  position: relative;
  &:after{
    position: absolute;
    background: $black;
    height: 1px;
    width: 400px;
    content: ' ';
    left: calc( 50% - 200px );
    bottom: -28px;
  }
  &:before{
    position: absolute;
    height: 6px;
    @include border-radius(5px);
    background-color: $blue;
    width: 100px;
    content: ' ';
    left: calc( 50% - 50px );
    bottom: -31px;
  }
}

.looking-for-border {
  border-color: $orange;
}

.nav-tabs.software-developments-tab {
  border-bottom: none;
  li.nav-item {
    span.nav-link {
      @extend .regular;
      cursor: pointer;
      border: none;
      color: $black;
      padding: .5rem .5rem;
      border-top-left-radius: 0!important;
      border-top-right-radius: 0!important;
      border-bottom: 2px solid $white!important;

      &.active {
        border-bottom: 2px solid $blue!important;
        transition: .5s ease;
      }
    }
  }
}

@media (max-width: 992px) {
  .intro, .intro .image-overlay {
    max-width: 100%;
  }
  .sidemenu-list {
    position: relative;
    top: unset;
  }
}

@media (max-width: 576px) {
  .circled-image {
    width: 150px;
    height: 150px;
  }
  .career-box {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .career-box {
    width: calc((100% - 60px) / 2);
  }
}
