body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .bold;
  color: $primary_color;

  &.reverse_color {
    color: $white;
  }
}

h1 {
  font-size: 3rem;
  line-height: 3.8rem;
  margin: 10px 0 30px;
}

h2 {
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 10px 0 20px;
}

h3 {
  font-size: 1.5rem;
  line-height: 28px;
  margin: 10px 0 20px;
}

h4 {
  font-size: 1rem;
  line-height: 20px;
}

p {
  font-size: 1rem;
  line-height: normal;
  color: $black;
  &.reverse_color{
    color: $white;
  }
}

a {
  color: $secondary_color;
  font-weight: 700;
  &:hover{
    color: $secondary_color_hover;
  }
  &[href^="mailto"]{
    color: $primary_color;
  }
}

.btn {
  @extend .bold;
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 1rem;
  padding: 0.8rem 2.5rem;
}

.btn-primary {
  color: #fff;
  background-color: $secondary_color;

  &:hover {
    background-color: $secondary_color_hover;
  }
  &:focus{
    box-shadow: none;
  }
}

.navbar {
  padding: 0;

  .nav-item {
    padding: 0.5rem 0.3rem;

    &:hover, &.active {
      color: $white;
      background-color: $primary_color;

      a.nav-link {
        color: $white;
      }
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $primary_color;
  font-weight: 700;

  &:hover {
    color: $white;
  }
}

.navbar-brand {
  img {
    width: 200px;
  }
}

.language-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.1);
}
/* setting for header image or any section with background image in all pages*/
.intro-header {
  width: 100%;
  // height: 100%;
  text-align: center;
  margin-bottom: 1rem;
  .align-items-center{
    height: 100%;
    padding: 1.5rem 0;
  }
  &.home {
    background: url("img/header_home.jpg") no-repeat;
    background-size: cover;
  }
  &.careers{
    background: url("img/header_career.jpg") no-repeat;
    background-size: cover;
  }
  &.career-why-iran{
    background: url("img/career1.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }
  &.about{
    background: url("img/header_about.jpg") no-repeat;
    background-size: cover;
  }
  &.contact{
    background: url("img/header_contact.jpg") no-repeat;
    background-size: cover;
  }

  img {
    width: 100%;
  }
}

.intro-message {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;

  .btn {
    margin-top: 5%;
  }
}

.intro-message > h1 {}

.intro-message > h3 {}

hr {
  border-top: 2px solid $light_gray;
  max-width: 50%;
  &.vertical-line {
    width: 2px;
    height: 80px;
    background-color: $primary_color;
  }
  &.short-line{
    max-width: 6rem;
  }
  &.reverse_color{
    border-top-color: $white;
  }
  &.sub-header{
    border-top: 2px solid $primary_color;
    max-width: 4rem;
    text-align: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: .7rem;
  }
}
.border-right{
  border-right: 2px solid $light_gray;
}
ul {
  &.dashed{
    margin: 0;
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    li{
      text-indent: -10px;
    }
    li:before{
      content: "-";
      text-indent: -5px;
      margin-right: 0.5rem;
    }
  }
}
/*Accordion*/
.panel-default > .panel-heading {
  color: #333;
  background-color: #fff;
  padding: 0;
  border-bottom: 1px solid $light_gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  a {
    display: block;
    padding: 1.5rem 2rem;
    font-weight: 500;
    &:before {
      content: "";
      position: relative;
      top: 1px;
      display: inline-block;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      float: left;
      transition: transform .25s linear;
      -webkit-transition: -webkit-transform .25s linear;
      margin-right: 2rem;
      color: $primary_color;
    }
    &[aria-expanded="true"] {
      background-color: $light_gray;
      &:before {
        content: "\2212";
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        padding-bottom: 1px;
      }
    }
    &[aria-expanded="false"]:before {
      content: "\002b";
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      padding-bottom: 1px;
    }
  }
}
.panel-body{
  padding: 2rem;
  background-color: $light_gray;
  p {
    &.title{
      @extend .bold;
      margin-bottom: 0.2rem;
    }
  }
}
/*Home page*/
#home{
  .layout-image {
    max-width:60%;
  }
  .layout-text {
    color: $white;
    max-width:40%;
    background-color:$primary_color;
    display:inline-block;
    position: relative;
    &.right{right:3rem;}
    &.left{left:3rem;}
    .content{
      padding: 2rem 2rem 0;
      .arrow{
        max-width: 20px;
        margin-left: 10px;
      }
    }
  }
  .triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 50px solid  $white;
    border-left: 50px solid transparent;
    float: right;
  }
  .triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 50px solid $white;
    border-right: 50px solid transparent;
    direction: ltr;
  }
}
/* About us page*/
#about {
  padding-bottom: 3rem;

  .icon {
    max-width: 4rem;
    margin: 1rem;
  }
}
/*Contact us page*/
#contact {
  padding-bottom: 3rem;
  padding-top: 1rem;
  flex: 1 0 auto;

  .icon {
    max-width: 2rem;
  }

  iframe {
    margin: 2rem 0;
  }
}
/*Careers*/
#philosophy{
  background-color: $light_gray;
  padding: 2rem;
  .card-s{
    border: 0;
    border-radius: 0;
    box-shadow: .3rem .3rem .1rem $light_gray;
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 5px solid $light_gray
  }
  .card-img-top{
    max-width: 3rem;
    margin: 1rem auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
/* Services page*/
#primary-highlight{
  background-color: $primary_color;
  padding: 1rem 0;
  .card{
    border: 0;
    border-radius: 0;
    background-color: $primary_color
  }
  .card-img-top {
    max-width: 3rem;
    margin: .5rem auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 66px;
  }
  .card-text{
    color: $white;
  }
  .card-title{
    color: $white;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
/*Footer*/
footer {
  margin-top: 2rem;
  padding: 0.6rem 0;
  background-color: $primary_color;
  img{
    width: 100px;
  }
}

.center {
  margin: 0 auto;
}
/* Media ueries */
@media (max-width: 575px) {
  #home
  {
    .layout-image{
      max-width: 100%;
    }
    .layout-text {
      max-width: 100%;
      position: relative;
      display: inline-block;
      &.right{
        right: initial;
      }
      &.left{
        left: initial;
      }
    }

  }
}