$primary_color: #462B7A;
$secondary_color: #1976d2;
$text_color: #000;
$dark_blue: #004ba0;
$blue: #146eb4;
$light_blue: #f9fcff;
$orange: #f58a07;

$white: #fff;
$black: #000;
$gray: #c2c2c2;
$light_gray: #f2f2f2;
$semi_white: #f5f5f5;
$gray_white: #f7f7f7;
$transparent_gray: rgba(199, 199, 199, 0.12);

$secondary_color_hover: #004ba0;

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
