$primary_color: #462B7A;
$secondary_color: #6BBD45;
$text_color: #000;
$dark_blue: #090648;

$white: #fff;
$black: #000;
$gray: #c2c2c2;
$light_gray: #f2f2f2;
$transparent_gray: rgba(199, 199, 199, 0.12);

$secondary_color_hover: #4F8D32;
